@charset "utf-8";
/* Global Settings */
body {	margin: 0px; width:100%; font-family:Arial,Helvetica,sans-serif;}
h1 {font-size:24px;}
h2 {font-size:18px;}
h3 {font-size:16px;}
h4 {font-size:14px;}
h5, h6 {font-size:12px;}
#content {margin:0px; padding:20px;}

th.rd-datasheet img, td.rd-datasheet a img {
    width: 18px;
    height: 20px;
}
